name: Build Push and Deploy to ECR and EC2

on:
  workflow_dispatch
  # push:
  #   branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Tag, and Push Image
        env:
          ECR_REGISTRY: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
          ECR_REPOSITORY: ${{ secrets.ECR_REPO }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:latest .
          
          docker tag $ECR_REGISTRY/$ECR_REPOSITORY:latest $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
      
      - name: SCP to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.UBUNTU_HOST }}
          username: ${{ secrets.UBUNTU_USER }}
          key: ${{ secrets.UBUNTU_SSH_KEY }}
          source: "haproxy.cfg"
          target: "/tmp"

      - name: Deploy on EC2 (SSH)
        uses: appleboy/ssh-action@v1.2.0
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          ECR_REGISTRY: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
          ECR_REPO: ${{ secrets.ECR_REPO }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        with:
          host: ${{ secrets.UBUNTU_HOST }}
          username: ${{ secrets.UBUNTU_USER }}
          key: ${{ secrets.UBUNTU_SSH_KEY }}
          envs: AWS_REGION,ECR_REGISTRY,ECR_REPO,AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY
          script: |
            sudo apt-get update -y
            sudo apt-get install -y unzip curl
            if ! command -v aws >/dev/null 2>&1; then
              echo "AWS CLI not found. Installing..."
              curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
              unzip awscliv2.zip
              sudo ./aws/install
            else
              echo "AWS CLI already installed: $(aws --version)"
            fi
                        
            # Validate variables are not empty
            if [ -z "${AWS_REGION}" ] || [ -z "${ECR_REGISTRY}" ] || [ -z "${ECR_REPO}" ]; then
              echo "Error: One or more required variables are empty"
              exit 1
            fi
            
            # Build the full image name
            IMAGE_NAME="${ECR_REGISTRY}/${ECR_REPO}:latest"
            echo "Full image name: ${IMAGE_NAME}"
            
            echo "Logging into ECR..."
            aws ecr get-login-password --region ${AWS_REGION} | sudo docker login --username AWS --password-stdin ${ECR_REGISTRY}
            
            echo "Pulling image..."
            sudo docker pull "${IMAGE_NAME}"
            
            echo "Current images:"
            sudo docker images
            DOCKER_NETWORK=acada-game
            docker network create $DOCKER_NETWORK || true
            for i in {1..9}; 
            do 
              docker stop nginx-web-$i || true
              docker rm nginx-web-$i || true
              docker run -d --name nginx-web-$i --network $DOCKER_NETWORK -p 800$i:80 ${IMAGE_NAME}
            done
            #### HAProxy Load Balancer
            docker stop haproxy || true
            docker rm haproxy || true
            docker run -d --name haproxy --network $DOCKER_NETWORK -v /tmp/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro -p 443:80 haproxy:latest
            
            echo "Container status:"
            docker ps -a