name: Build and push Docker image to Docker Hub

on:
  workflow_dispatch
  # push:
  #   branches: [ "main" ]
  #   paths:
  #     - '**.yml'
  #     - '**.html'
  #     - '**.js'
  #     - '**.cfg'
  #     - 'Dockerfile'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      # Build & Push to Docker Hub
      - name: Build & Push Docker Image
        run: |
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}"
          docker build -t $IMAGE:latest .
          docker push $IMAGE:latest
      
      - name: SCP to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.UBUNTU_HOST }}
          username: ${{ secrets.UBUNTU_USER }}
          key: ${{ secrets.UBUNTU_SSH_KEY }}
          source: "haproxy.cfg"
          target: "/tmp"
      
      - name: Deploy to EC2 via SSH
        uses: fifsky/ssh-action@master
        with:
          command: |
            docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }}
            IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}"
            DOCKER_NETWORK=Acada-game
            docker pull $IMAGE:latest
            docker network create $DOCKER_NETWORK || true
            for i in {1..9}; 
            do 
            docker stop nginx-web-$i || true
            docker rm nginx-web-$i || true
            docker run -d --name nginx-web-$i --network $DOCKER_NETWORK -p 800$i:80 $IMAGE:latest
            done
            #### HAProxy Load Balancer
            docker stop haproxy || true
            docker rm haproxy || true
            docker run -d --name haproxy --network $DOCKER_NETWORK -v /tmp/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro -p 443:80 haproxy:latest

          host: ${{ secrets.UBUNTU_HOST }}
          user: ${{ secrets.UBUNTU_USER }}
          key: ${{ secrets.UBUNTU_SSH_KEY}}
          args: "-tt"